
#result {
	 position: absolute;
    left: 50%;
    top: 20%;
	transform: translate(-50%, -50%);
	font-style : italic ;
    
	
 }
.xo-field {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility  : hidden;
}

.xo-cell {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin-left: -2px;
    margin-top: -2px;
    line-height: 100px;
    font-size: 70px;
    font-family: cursive;
}

.xo-cell:hover {
    background-color: azure;
}

.menu{
    position: absolute;
    left: 50%;
    top: 20%;
    width : 500px;
    transform: translate(-50%, -50%);
    padding: .5em 2em .55em;
    border: solid 1px;
    border-radius: .5em;
    z-index: 1;
    visibility : visible;
}
.xo-buttom {
    display: inline-block;
    margin: 0 4px;
    outline: none;
    text-align: center;
    text-decoration: none;
    font: 14px/100% sans-serif;
    padding: .5em 2em .55em;
    border-radius: .5em;
    color: #d9eef7;
    border: solid 1px;
    background: #0059cd;
  }

 .xo-newGame { 
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
    outline: none;
    text-align: center;
    text-decoration: none;
    font: 14px/100% sans-serif;
    padding: .5em 2em .55em;
    border-radius: .5em;
    color: #d9eef7;
    border: solid 1px;
    background: #4f7ebd;
  }
